.invalid-exp{
    background: rgba(255,0,0,0.8);
}

.valid-exp{
    background: rgba(0, 255, 0, 0.4);
}

#textBox{
    width: 400px;
    height: 50px;
    position: absolute;
    top: 25%;
    right: 35%;
    resize: none;
    background: black;
    color: white;
}

body{
    text-align: center;
}

#expResult{
    position: absolute;
    top: 50%;
    left: 48%;
    text-align: center;
}
